.redbox {
  box-shadow: 4px 4px 4px 0 #d24e44;
  background-color: #f0c3bf;
}
body {
  font-family: Arial;
  font-size: 14px;
  color: #4A4A4A;
  background: #cdcdcd;
}
h2 {
  color: #d24e44;
  font-size: 30px;
}
.wrapper {
  width: 800px;
  padding: 80px;
  margin: 200px auto;
  display: block;
  background: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 0 #b4b4b4;
}
ul {
  padding-left: 10px;
  display: inline-block;
}
ul li {
  list-style: none;
  color: #8bc34a;
  transition: color 0.5s ease;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  padding-right: 50px;
  float: left;
}
ul li:hover {
  color: #d24e44;
}
@media (max-width: 768px) {
  ul li {
    color: red;
    display: inline-block;
    width: 100%;
  }
}
