table {
  width: 80%;
  margin: 0 auto;
}
table td {
  border: 1px solid grey;
  border-collapse: separate;
}
.ajaxBtn {
  cursor: pointer;
}
.detail {
  position: absolute;
  background: grey;
  width: 300px;
  padding: 10px;
  border: 2px solid black;
  color: #fff;
}
.generalItem {
  font-weight: bold;
}
.dialogItem {
  font-weight: normal;
  font-style: oblique;
}
