header {
	height: 620px;
	background-image: url(img/header/img1.png);
	background-repeat: no-repeat;
}

#apple {
	position: absolute;
	margin-top: 370px;
	margin-left: 323px;
}

#android {
	position: absolute;
	margin-top: 370px;
	margin-left: 400px;
}

#windows {
	position: absolute;
	padding-top: 370px;
	padding-left: 477px;
}

.features {
	padding-left: 180px;
}

figuration p {
	color: rgb(132, 132, 132);
}

figuration h4 {
	color: rgb(34,34,34);
}

figure {
	display: inline-block;
	width: 326px;
	text-align: center;
}

#notifed {
	height: 427px;
	background-color: rgb(227,227,227);
}

#notifed_p_form {
	padding-top: 59px;
	margin-left: 240px;
	width: 500px;
	height: 312px;
	float: left;
}

#not_title {
	color: rgb(34,34,34);
	font-family: Arial;
}

#not_body {
	color: rgb(132, 132, 132);
}

#email {
	margin-right: -4px;
	border-radius: 7px 0 0 7px;
	height: 55px;
	width: 306px;
	outline: none;
	font-size: 20px;
	outline: none;
	border: solid 1px rgb(200,200,200);
	outline: none;
}

#flat1 {
	background-color: rgb(46,204,113);
	border-radius: 0 7px 7px 0;
	padding: 20px 40px; //отступы, отвечающие за размеры кнопки (в пикселях)
	font: normal 15px/22px Verdana; //тип, размер, межстрочный интервал и вид шрифта
	text-transform: uppercase; //преобразование текста в заглавные символы
	-webkit-user-select: none;
	border: none;
	text-align: center; //текст кнопки по центру
	outline: none;
	cursor: pointer;
	color: #fff; //цвет текста кнопки в статичном виде
	display: inline-block;
}

a {
	text-decoration: none;
}

video {
	margin-left: 155px;
	border-radius: 7px;
	padding-top: 59px;
	width: 500px;
	height: 310px;
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.get_in_touch {
	height: 468px;
}

#get_in_touch_text {
	padding-top: 58px;
	font-style: italic;
	margin: auto ;
	width: 832px;
	height: 55px;
	color: rgb(132, 132, 132); 
}

#jane {
	text-align: center;
	font-family: Arial;
	font-size: 20px;
}

#slider, #say_hi, #lorem {
	display: block;
    margin-left: auto;
    margin-right: auto 
}

#bar p {
	text-align: center;
}

.footer_links {
	line-height: 130px;
	margin-left: 40px;
	text-decoration: none;
	color: rgb(132, 132, 132); 
}

footer {
	text-align: center;
	height: 130px;
	background-color: rgb(227,227,227);
}