
.phone-img {
  width: 162px;
  height: 250px;
  position: absolute;
  padding: 63px 0 0 66px;
}

.title {
  width: 50%;
}

.logo-title {
  font-family: "Pacifico", cursive;;
  font-size: 49px;
  line-height: 20px;
  color: #fff;
  margin: 66px 3px;

  span {
    color: #2dcb71;
  }
}

.title p {
  color: #fff;
  font-size: 18px;
}

.os-icons {
  margin-top: 30px;
}

.icon-cont {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #030303;
  text-align: center;
  margin: 5px;
  display: block;
  opacity: 0.5;
}

.icon-cont-header {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #030303;
  text-align: center;
  margin: -13px 2px 0 9px;
  display: block;
  opacity: 0.5;
}

.icon {
  width: 20px;
  height: 25px;
  padding-top: 10px;
}

.icon-cont:hover {
  background-color: #2ecc71;
  opacity: unset;
  cursor: pointer;
}

.icon-serv {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: url("../img/features/container.png") no-repeat;
  text-align: center;
  margin: 35px 0 0 -4px;
  display: inline-block;
}

.big-icon {
  padding: 20px 0 0 0;
}

.mail {
  height: 45px;
  font-size: 17px;
  color: #848484;
  border: 1px solid #c8c8c8;
  padding: 2px 0 0 19px;
  border-radius: 15px 0 0 15px;
  width: 247px;
}

.btn {
  height: 49px;
  border-radius: 0 15px 15px 0;
  background-color: #2dcb71;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-left: -7px;
}

//.info {
//  font-size: 18px;
//  line-height: 30px;
//  color: rgb(132,132,132);
//  font-style: italic;;
//  text-align: center;
//  margin: auto;
//}
