
.phone-img {
  width: 162px;
  height: 250px;
  position: absolute;
  padding: 63px 0 0 66px;
}

.title {
  width: 50%;
}

.logo-title {
  font-family: "Pacifico", cursive;
  font-size: 49px;
  line-height: 20px;
  color: #fff;
  margin: 95px 0 71px 0px;

  span {
    color: #2dcb71;
  }
}

.title p {
  color: #fff;
  font-size: 18px;
}

.icon-cont {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #030303;
  text-align: center;
  margin: 5px 7px 60px 0px;
  display: block;
  opacity: 0.5;
}

.icon-cont-header {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #030303;
  text-align: center;
  margin: 21px 10px 0 5px;
  display: block;
  opacity: 0.5;

  &:hover {
    background-color: #2ecc71;
    opacity: unset;
    cursor: pointer;
  }
}

.icon {
  width: 19px;
  height: 19px;
  padding-top: 8px;
}

.icon-header {
  width: 25px;
  height: 26px;
  padding-top: 12px;
}

.icon-cont:hover {
  background-color: #2ecc71;
  opacity: unset;
  cursor: pointer;
}

.icon-serv {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("../img/features/container.png") no-repeat;
  text-align: center;
  margin: 60px 0 0 13px;
  display: inline-block;
}

.big-icon {
  padding: 26px 0 0 0;
}

.mail {
  height: 50px;
  font-size: 17px;
  color: #848484;
  border: 1px solid #c8c8c8;
  padding: 4px 0 0 23px;
  border-radius: 15px 0 0 15px;
  width: 280px;
  letter-spacing: 0.5px;
}

.btn {
  height: 56px;
  border-radius: 0 15px 15px 0;
  background-color: #2dcb71;
  border: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
}

//.info {
//  font-size: 18px;
//  line-height: 30px;
//  color: rgb(132,132,132);
//  font-style: italic;;
//  text-align: center;
//  margin: auto;
//}
