.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.main-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.border {
  border: 1px solid white;
}
.phone-img {
  width: 162px;
  height: 250px;
  position: absolute;
  padding: 63px 0 0 66px;
}
.title {
  width: 50%;
}
.logo-title {
  font-family: "Pacifico", cursive;
  font-size: 49px;
  line-height: 20px;
  color: #fff;
  margin: 66px 3px;
}
.logo-title span {
  color: #2dcb71;
}
.title p {
  color: #fff;
  font-size: 18px;
}
.os-icons {
  margin-top: 30px;
}
.icon-cont {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #030303;
  text-align: center;
  margin: 5px;
  display: block;
  opacity: 0.5;
}
.icon-cont-header {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #030303;
  text-align: center;
  margin: -13px 2px 0 9px;
  display: block;
  opacity: 0.5;
}
.icon {
  width: 20px;
  height: 25px;
  padding-top: 10px;
}
.icon-cont:hover {
  background-color: #2ecc71;
  opacity: unset;
  cursor: pointer;
}
.icon-serv {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: url("../img/features/container.png") no-repeat;
  text-align: center;
  margin: 35px 0 0 -4px;
  display: inline-block;
}
.big-icon {
  padding: 20px 0 0 0;
}
.mail {
  height: 45px;
  font-size: 17px;
  color: #848484;
  border: 1px solid #c8c8c8;
  padding: 2px 0 0 19px;
  border-radius: 15px 0 0 15px;
  width: 247px;
}
.btn {
  height: 49px;
  border-radius: 0 15px 15px 0;
  background-color: #2dcb71;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-left: -7px;
}
.slideshow {
  padding: 0;
  height: 100%;
  width: 100%;
}
.slideshow .slides {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.slideshow .slides .slide {
  position: absolute;
  width: 100%;
  min-height: 450px;
  height: 550px;
  left: 0;
  top: 8px;
  overflow: hidden;
  display: block;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  opacity: 0;
  background-size: 100%;
}
.slideshow .slides .slide img {
  width: 100%;
  height: 513px;
}
.slideshow .slides .slide.active {
  opacity: 1;
}
.slideshow .next {
  left: 95%;
}
.prev,
.next {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 2px #000;
  text-align: center;
  background: #222;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 3px solid #fff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  cursor: pointer;
  z-index: 5;
}
.prev:hover,
.next:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.top-line {
  width: 100%;
  height: 10px;
  background-color: #2ECB71;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FEFEFE;
  font-size: 1.1em;
  transition: all 0.6s ease;
}
body p {
  color: #818181;
}
body.open {
  margin-left: 40%;
  transition: all 0.6s ease;
}
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
  background-color: #2ECB71;
  color: #FEFEFE;
}
.main-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 510px;
}
.features {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #FEFEFE;
}
.info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #E2E2E2;
  height: 365px;
}
.social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #FEFEFE;
}
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 70%;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.header-container {
  padding-top: 90px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  z-index: 3;
  height: 100%;
}
.hand {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 40%;
  background: url("../img/header/hand.png") no-repeat;
  z-index: 2;
}
.os-icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.header-content {
  width: 59%;
}
.header-content p {
  font-size: 1.2em;
  color: white;
  line-height: 31px;
  margin: -7px 0 0 10px;
}
.features-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 70%;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.features-content {
  padding: 15px 0 47px 0;
  width: 33%;
  text-align: center;
}
.features-content h3 {
  margin: 23px 0 0 -1px;
  font-size: 19px;
}
.features-content p {
  margin: 17px 0 0 32px;
  font-size: 13px;
  width: 291px;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.info-content {
  padding: 48px 0 0px 40px;
  width: 43%;
}
.info-content h3 {
  letter-spacing: -1px;
}
.info-content p {
  margin: 14px 0 18px 0px;
  font-size: 15px;
  line-height: 23px;
}
.info-content form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.info-content form button {
  width: 26%;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  width: 100%;
}
.social-content {
  padding: 20px 0;
  height: 20%;
  text-align: center;
}
.social-content p {
  padding-top: 30px;
}
.social-content h3 {
  margin-bottom: 20px;
}
.social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social .social-mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.gallery {
  width: 100%;
}
.gallery .slick-slide img:hover {
  color: #2ECB71;
  opacity: .5;
  cursor: pointer;
}
.gallery div {
  display: block;
}
.main-footer {
  padding: 2.17rem 5% 3.17rem 5%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #E2E2E2;
}
.main-footer .burger-menu {
  display: none;
}
.main-footer .btn-close {
  display: none;
}
.main-footer ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  width: 80%;
}
.main-footer ul li {
  display: inline-block;
  width: 100%;
}
.main-footer ul li:hover {
  color: #2ECB71;
  border: none;
}
.main-footer ul li a {
  text-decoration: none;
  color: #818181;
  background-color: #E2E2E2;
  border: none;
}
.main-footer ul li a:hover {
  color: #2ECB71;
  background-color: #E2E2E2;
  border: none;
}
.main-footer ul li a:active {
  background-color: #E2E2E2;
  border: none;
}
.main-footer ul .sub-menu.ui-menu.ui-widget {
  background-color: #E2E2E2;
  display: none;
  flex-direction: column;
  position: relative;
  left: 0 !important;
  top: -100% !important;
  margin: 7px;
  text-align: center;
  visibility: visible;
}
.main-footer ul .sub-menu.ui-menu.ui-widget li {
  background-color: #E2E2E2;
}
.main-footer ul .sub-menu.ui-menu.ui-widget li a {
  padding: 0 !important;
  margin: 0 !important;
  width: 100px;
}
.ui-menu-icon {
  z-index: 1231;
}
.footer-mobile {
  padding: 2.17rem 5% 3.17rem 5%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #E2E2E2;
  transition: 0.5s;
}
.footer-mobile .btn-close {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 36px;
  text-decoration: none;
  z-index: 234;
  transform: translateX(-100%);
  transition: all 0.6s ease;
}
.footer-mobile .btn-close:hover {
  cursor: pointer;
  color: #2ECB71;
}
.footer-mobile .btn-close.open {
  transform: translateX(0);
  margin-left: 23rem;
}
.footer-mobile .menu.open {
  transform: translateX(0);
}
.footer-mobile .menu {
  width: 50%;
  min-width: 23rem;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0.9;
  padding-top: 60px;
  transform: translateX(-100%);
  transition: all 0.6s ease;
}
.footer-mobile .menu .sub-menu {
  left: 0 !important;
  position: relative;
}
.footer-mobile .menu .sub-menu .ui-menu.ui-widget.ui-widget-content.ui-front {
  display: none;
}
.footer-mobile .menu .sub-menu li {
  background: #FEFEFE !important;
}
.footer-mobile .menu .sub-menu li ul {
  width: 100%;
  transition: all 500ms;
  max-height: 0;
  overflow: hidden;
  text-align: left;
}
.footer-mobile .menu .sub-menu li ul li {
  display: block;
  float: left;
}
.footer-mobile .menu li {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  list-style: none;
  position: relative;
  transition: all .3s;
  display: block;
  background: #E2E2E2;
}
.footer-mobile .menu li a {
  display: inline-block;
  padding: 1.17rem 15% 1.17rem 15%;
  float: left;
  min-width: 12rem;
  width: 70%;
  text-align: center;
  font-size: 1.5rem;
  color: #818181;
  text-decoration: none;
  font-weight: 300;
  transition: all 500ms;
  z-index: 23;
}
.footer-mobile .menu li a .ui-state-active {
  color: #2ECB71;
}
.footer-mobile .menu li a:hover {
  color: #2ECB71;
}
.arrow {
  width: 2rem;
  position: relative;
  top: 3px;
  transform: rotate(0deg);
  transition: all .35s;
}
.ui-menu.ui-widget-content {
  border: none !important;
  background-color: #E2E2E2;
}
.ui-menu-item-wrapper.ui-state-active {
  border: none !important;
  background-color: #E2E2E2 !important;
  color: #2ECB71 !important;
}
.slick-prev:before,
.slick-next:before {
  position: absolute;
  top: 38%;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  box-shadow: inset 20px 0px 20px 0px #e6e6e6;
}
.gallery .slick-prev:before {
  box-shadow: inset 20px 0px 20px 0px #e6e6e6;
  left: 25px;
}
.gallery .slick-next:before {
  box-shadow: inset -20px 0px 20px 0px #e6e6e6;
  right: 25px;
}
/* MEDIA TABLET */
@media only screen and (max-width: 1024px) {
  .main-header {
    background-size: auto;
  }
  .header-container {
    width: 90%;
  }
  .features-container {
    flex-wrap: wrap;
  }
  .features-content {
    width: 40%;
  }
  .header-content {
    width: 100%;
  }
  .hand {
    width: 100%;
  }
}
/* MEDIA MOBILE */
@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .features-container {
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .features-content {
    width: 100%;
  }
  .info-content {
    width: 100%;
  }
  .main-footer ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
  }
  .main-footer li {
    margin-top: 20px;
  }
  .social {
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-container {
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hand {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */