.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.main-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.border {
  border: 1px solid white;
}
.phone-img {
  width: 162px;
  height: 250px;
  position: absolute;
  padding: 63px 0 0 66px;
}
.title {
  width: 50%;
}
.logo-title {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  line-height: 20px;
  color: #fff;
  margin: 70px 15px;
}
.logo-title span {
  color: #2dcb71;
}
.title p {
  color: #fff;
  font-size: 18px;
}
.os-icons {
  margin-top: 30px;
}
.icon-cont {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #030303;
  text-align: center;
  margin: 5px;
  display: block;
  opacity: 0.5;
}
.icon {
  width: 20px;
  height: 25px;
  padding-top: 10px;
}
.icon-cont:hover {
  background-color: #2ecc71;
  opacity: unset;
  cursor: pointer;
}
.icon-serv {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("../img/features/container.png") no-repeat;
  text-align: center;
  margin: 5px 2px;
  display: inline-block;
}
.big-icon {
  padding: 25px 0;
}
.mail {
  height: 56px;
  font-size: 18px;
  line-height: 18px;
  color: #848484;
  border: 1px solid #c8c8c8;
  padding-left: 30px;
  border-radius: 15px 0 0 15px;
  width: 70%;
}
.btn {
  height: 58px;
  border-radius: 0 15px 15px 0;
  background-color: #2dcb71;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-left: -7px;
}
.info {
  font-size: 18px;
  line-height: 30px;
  color: #848484;
  font-style: italic;
  text-align: center;
  margin: auto;
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.top-line {
  width: 100%;
  height: 10px;
  background-color: #2ECB71;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FEFEFE;
  font-size: 1.1em;
}
body p {
  color: #818181;
}
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
  background-color: #2ECB71;
  color: #FEFEFE;
}
#dialog {
  width: 600px;
  background-color: #007fff;
  /* The typing effect */
  /* The typewriter cursor effect */
}
#dialog .steps {
  position: relative;
  width: 5em;
  height: 5em;
  margin: 1em auto;
  border: .2em solid mediumturquoise;
  border-radius: 50%;
  font-size: 1.2em;
}
#dialog .steps:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: .1em;
  height: 2.1em;
  left: 2.5em;
  top: .4em;
  background: mediumturquoise;
  animation: timing 60s infinite steps(60);
  transform-origin: 0 2.1em;
}
@keyframes timing {
  100% {
    transform: rotate(360deg);
  }
}
#dialog .typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.main-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/header/img.png") no-repeat;
  background-size: 100%;
}
.features {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #FEFEFE;
}
.info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #E2E2E2;
}
.social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #FEFEFE;
}
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.header-container {
  padding-top: 130px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.hand {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 40%;
  background: url("../img/header/hand.png") no-repeat;
  height: 500px;
}
.os-icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.header-content {
  width: 50%;
  padding-left: 100px;
}
.header-content p {
  font-size: 1.3em;
  color: white;
}
.features-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.features-content {
  padding: 50px 0;
  width: 25%;
  text-align: center;
}
.features-content h3 {
  margin: 20px 0;
}
.features-content p {
  margin: 20px 0;
}
.info-content {
  padding: 50px 0;
  width: 45%;
}
.info-content p {
  margin: 30px 0;
}
.info-content form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.info-content form button {
  width: 30%;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  width: 100%;
}
.social-content {
  padding: 20px 0;
  height: 20%;
  text-align: center;
}
.social-content p {
  padding-top: 30px;
}
.social-content h3 {
  margin-bottom: 20px;
}
.social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social .social-mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  width: 100%;
}
.gallery div {
  height: 45px;
  width: 45px;
  background-color: #2ECB71;
}
.gallery div img {
  height: 45px;
  width: 45px;
  transform: scale(1.1);
  object-fit: cover;
}
.gallery div img:hover {
  opacity: .5;
  cursor: pointer;
}
.main-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 60px 0;
  background-color: #E2E2E2;
}
.main-footer ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.main-footer ul li {
  display: inline-block;
  padding: 0 50px;
}
.main-footer ul li:hover {
  color: #2ECB71;
  background-color: #E2E2E2;
  border: none;
}
.main-footer ul li a {
  text-decoration: none;
  color: #818181;
  background-color: #E2E2E2;
  border: none;
}
.main-footer ul li a:hover {
  color: #2ECB71;
  font-weight: 600;
  background-color: #E2E2E2;
  border: none;
}
.main-footer ul li a:active {
  background-color: #E2E2E2;
  border: none;
}
.ui-menu.ui-widget-content {
  border: none !important;
  background-color: #E2E2E2;
}
/* MEDIA TABLET */
@media only screen and (max-width: 1024px) {
  #main-header {
    background-size: auto;
  }
  .header-container {
    width: 90%;
  }
  .features-container {
    flex-wrap: wrap;
  }
  .features-content {
    width: 40%;
  }
  .header-content {
    width: 100%;
  }
  .hand {
    width: 100%;
  }
  .social-content.images {
    height: 400px;
  }
  .gallery {
    height: 50px;
    flex-wrap: wrap;
  }
  .gallery div {
    width: 15%;
    background-color: #FEFEFE;
  }
  .gallery div img {
    height: 50px;
    width: 70px;
    display: block;
  }
}
/* MEDIA MOBILE */
@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .features-container {
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .features-content {
    width: 100%;
  }
  .info-content {
    width: 100%;
  }
  .main-footer ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
  }
  .main-footer li {
    margin-top: 20px;
  }
  .social {
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-container {
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .social-content.images {
    height: 600px;
  }
  .gallery div {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */