.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media screen and (max-width: 600px) {
  .features {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .features_block {
    text-align: center;
    margin: 10px;
  }
  .features_item {
    text-align: center;
    width: 20%;
    margin-left: 20px;
  }
}
body {
  margin: 0;
}
.wrapper {
  width: 1600px;
  margin: 0 auto;
}
header {
  height: 620px;
  background: url("img/header/img1.png") no-repeat;
}
header .header_bar {
  margin-left: 320px;
}
header .header_icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: lightgrey;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  margin-top: 370px;
  margin-left: 15px;
}
header .header_icons:hover {
  background: green;
}
.features {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.features_block {
  text-align: center;
  margin: 10px;
}
.features_item {
  text-align: center;
  width: 20%;
  margin-left: 20px;
}
.notifed {
  height: 427px;
  background-color: #e3e3e3;
}
.notifed_p_form {
  padding-top: 59px;
  margin-left: 240px;
  width: 500px;
  height: 312px;
  float: left;
}
.notifed .not_title {
  color: #222222;
  font-family: Arial, serif;
}
.notifed .not_body {
  color: #848484;
}
.notifed video {
  margin-left: 155px;
  border-radius: 7px;
  margin-top: 59px;
  width: 500px;
  height: 310px;
}
.form {
  color: black;
}
.form .flat1 {
  background-color: #2ecc71;
  border-radius: 0 7px 7px 0;
  padding: 20px 40px;
  font: normal 15px/22px Verdana;
  text-transform: uppercase;
  -webkit-user-select: none;
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
}
.form .email {
  margin-right: -4px;
  border-radius: 7px 0 0 7px;
  height: 55px;
  width: 306px;
  outline: none;
  font-size: 20px;
  border: solid 1px #c8c8c8;
}
.form a {
  text-decoration: none;
}
.get_in_touch {
  height: 468px;
}
.get_in_touch .get_in_touch_text {
  padding-top: 58px;
  font-style: italic;
  margin: auto;
  width: 832px;
  height: 55px;
  color: #848484;
}
.get_in_touch .jane {
  text-align: center;
  font-family: Arial, serif;
  font-size: 20px;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider li {
  cursor: pointer;
  display: inline-block;
  list-style-type: none;
}
.slider li:hover {
  background: green;
}
.lorem {
  display: flex;
  justify-content: center;
}
.say_hi {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  text-align: center;
}
.bar_icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: lightgrey;
  cursor: pointer;
}
.bar_icons:hover {
  background: green;
}
footer {
  display: flex;
  height: 200px;
  background-color: lightgrey;
  align-items: center;
  justify-content: space-around;
}
footer .footer_links {
  margin: 15px;
  list-style-type: none;
  color: grey;
}
